<div class="content__title">
    <nz-collapse>
        <nz-collapse-panel nzHeader="待审核正负面名单列表" nzActive=true nzShowArrow=false>
            <nz-table [nzScroll]="{x:'1300px'}" #borderedTable nzBordered [nzData]="dataSet" [nzShowTotal]="totalTemplate">
                <thead>
                    <tr>
                        <th nzWidth="140px">名单编号</th>
                        <th>名单类型</th>
                        <th>关键词或全称</th>
                        <th>审核流程</th>
                        <th>审核阶段</th>
                        <th>提交人</th>
                        <th>提交日期</th>
                        <th>消息来源人</th>
                        <th>是否启用</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of borderedTable.data">
                        <td>{{data.id}}</td>
                        <td>
                            <nz-tooltip [nzTitle]="data.type" [nzPlacement]="'topLeft'">
                                <span nz-tooltip>{{data.type}}</span>
                            </nz-tooltip>
                        </td>
                        <td>{{data.key}}</td>
                        <td>{{data.liucheng}}</td>
                        <td>{{data.jieduan}}</td>
                        <td>{{data.tijiaoren}}</td>
                        <td>{{data.tijiaoriqi}}</td>
                        <td>{{data.laiyuan}}</td>
                        <td>{{data.shifouqiyong}}</td>
                        <td>
                            <button nz-button [nzSize]="'small'" nzType="primary">审核</button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
            <ng-template #totalTemplate let-total let-range="range">
                显示条目 {{range[0]}}-{{range[1]}} 共 {{total}} 条数据
            </ng-template>
        </nz-collapse-panel>
    </nz-collapse>
</div>
