<nz-collapse>
    <nz-collapse-panel nzHeader="财务信息" nzActive=true nzShowArrow=false>
        <nz-collapse>
            <nz-collapse-panel nzHeader="审计单位" nzActive=true nzShowArrow=false>
                <p>【2017-12-31】期财务报表，审计单位：无审计</p>
                <p>【2017-12-31】期财务报表，审计单位：无审计</p>
                <p>【2017-12-31】期财务报表，审计单位：无审计</p>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="利润表" nzActive=true nzShowArrow=false>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>主营收入（万元）</th>
                                <th>净利润（万元）</th>
                                <th>营业税（万元）</th>
                                <th>利润总额（万）</th>
                                <th>营业利润（万）</th>
                                <th>主营业务成本（万）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2016-12-31</td>
                                <td>765,442.00</td>
                                <td>13,749.00</td>
                                <td>15,628.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>2015-12-31</td>
                                <td>472,543.00</td>
                                <td>5,817.00</td>
                                <td>16,200.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                                <td>0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nz-collapse-panel>
        </nz-collapse>


        <nz-collapse>
            <nz-collapse-panel nzHeader="资产负债表" nzActive=true nzShowArrow=false>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td>截止日期</td>
                                <td>2017-12-31</td>
                                <td class="hidden-xs">2016-12-31</td>
                                <td class="hidden-xs">2015-12-31</td>
                                <td>截止日期</td>
                                <td>2017-12-31</td>
                                <td class="hidden-xs">2016-12-31</td>
                                <td class="hidden-xs">2015-12-31</td>
                            </tr>
                            <tr>
                                <td>货币资金（万元）</td>
                                <td>110,178.00</td>
                                <td class="hidden-xs">63,016.00</td>
                                <td class="hidden-xs">62,178.00</td>
                                <td>短期借款（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>交易性金融资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>交易性金融负债（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>应收票据（万元）</td>
                                <td>1,693.00</td>
                                <td class="hidden-xs">686.00</td>
                                <td class="hidden-xs">273.00</td>
                                <td>应付票据（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>应收帐款（万元）</td>
                                <td>25,322.00</td>
                                <td class="hidden-xs">35,083.00</td>
                                <td class="hidden-xs">18,152.00</td>
                                <td>应付帐款（万元）</td>
                                <td>85,132.00</td>
                                <td class="hidden-xs">60,920.00</td>
                                <td class="hidden-xs">49,802.00</td>
                            </tr>
                            <tr>
                                <td>预付帐款（万元）</td>
                                <td>7,306.00</td>
                                <td class="hidden-xs">6,923.00</td>
                                <td class="hidden-xs">9,054.00</td>
                                <td>预收帐款（万元）</td>
                                <td>9,704.00</td>
                                <td class="hidden-xs">12,238.00</td>
                                <td class="hidden-xs">13,088.00</td>
                            </tr>
                            <tr>
                                <td>应收利息（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>应付职工薪酬（万元）</td>
                                <td>4,229.00</td>
                                <td class="hidden-xs">5,966.00</td>
                                <td class="hidden-xs">5,029.00</td>
                            </tr>
                            <tr>
                                <td>应收股利（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>应交税费（万元）</td>
                                <td>516.00</td>
                                <td class="hidden-xs">650.00</td>
                                <td class="hidden-xs">1,162.00</td>
                            </tr>
                            <tr>
                                <td>其他应收款（万元）</td>
                                <td>27,505.00</td>
                                <td class="hidden-xs">18,281.00</td>
                                <td class="hidden-xs">15,407.00</td>
                                <td>应付股利（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>存货（万元）</td>
                                <td>5,855.00</td>
                                <td class="hidden-xs">3,989.00</td>
                                <td class="hidden-xs">3,262.00</td>
                                <td>应付利息（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>一年内到期非流动资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>其他应付款（万元）</td>
                                <td>21,048.00</td>
                                <td class="hidden-xs">18,107.00</td>
                                <td class="hidden-xs">23,379.00</td>
                            </tr>
                            <tr>
                                <td>其他流动资产（万元）</td>
                                <td>1,785.00</td>
                                <td class="hidden-xs">60.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>一年内到期非流动负债（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>流动资产合计（万元）</td>
                                <td>179,645.00</td>
                                <td class="hidden-xs">128,038.00</td>
                                <td class="hidden-xs">108,327.00</td>
                                <td>其他流动负债（万元）</td>
                                <td>2,293.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>可供出售金融资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>流动负债合计（万元）</td>
                                <td>122,923.00</td>
                                <td class="hidden-xs">97,882.00</td>
                                <td class="hidden-xs">92,459.00</td>
                            </tr>
                            <tr>
                                <td>持有至到期投资（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>长期借款（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>长期应收款（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>应付债券（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>长期股权投资（万元）</td>
                                <td>325.00</td>
                                <td class="hidden-xs">324.50</td>
                                <td class="hidden-xs">0.00</td>
                                <td>长期应付款（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>投资性房地产（万元)</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>专项应付款（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>固定资产原价（万元）</td>
                                <td>62,610.00</td>
                                <td class="hidden-xs">42,801.00</td>
                                <td class="hidden-xs">40,795.00</td>
                                <td>预计负债（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>累计折旧（万元）</td>
                                <td>7,577.00</td>
                                <td class="hidden-xs">3,974.00</td>
                                <td class="hidden-xs">3,763.00</td>
                                <td>递延所得税负债（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>固定资产减值准备（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>其他非流动负债（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>固定资产净额（万元）</td>
                                <td>55,032.00</td>
                                <td class="hidden-xs">38,827.00</td>
                                <td class="hidden-xs">37,031.00</td>
                                <td>非流动负债合计（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">1,591.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>在建工程（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>负债合计（万元）</td>
                                <td>122,923.00</td>
                                <td class="hidden-xs">99,473.00</td>
                                <td class="hidden-xs">92,459.00</td>
                            </tr>
                            <tr>
                                <td>工程物资（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>实收资本（万元）</td>
                                <td>79,034.00</td>
                                <td class="hidden-xs">32,686.00</td>
                                <td class="hidden-xs">31,579.00</td>
                            </tr>
                            <tr>
                                <td>固定资产清理（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>库存股（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                            </tr>
                            <tr>
                                <td>生产性生物资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>资本公积（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">3,674.00</td>
                                <td class="hidden-xs">3,674.00</td>
                            </tr>
                            <tr>
                                <td>油气资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>盈余公积（万元）</td>
                                <td>1,659.00</td>
                                <td class="hidden-xs">6,914.00</td>
                                <td class="hidden-xs">5,540.00</td>
                            </tr>
                            <tr>
                                <td>无形资产（万元）</td>
                                <td>39.00</td>
                                <td class="hidden-xs">45.00</td>
                                <td class="hidden-xs">50.00</td>
                                <td>未分配利润（万元）</td>
                                <td>31,571.00</td>
                                <td class="hidden-xs">24,137.00</td>
                                <td class="hidden-xs">11,775.00</td>
                            </tr>
                            <tr>
                                <td>开发支出（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>归属于母公司所有者权益合计（万元）</td>
                                <td>112,264.00</td>
                                <td class="hidden-xs">67,412.00</td>
                                <td class="hidden-xs">52,568.00</td>
                            </tr>
                            <tr>
                                <td>商誉（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>少数股东权益（万元）</td>
                                <td>5.60</td>
                                <td class="hidden-xs">395.00</td>
                                <td class="hidden-xs">382.00</td>
                            </tr>
                            <tr>
                                <td>长期待摊费用（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>所有者权益合计（万元）</td>
                                <td>112,270.00</td>
                                <td class="hidden-xs">67,806.00</td>
                                <td class="hidden-xs">52,949.00</td>
                            </tr>
                            <tr>
                                <td>递延所得税资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td>负债及所有者权益合计（万元）</td>
                                <td>235,193.00</td>
                                <td class="hidden-xs">167,279.00</td>
                                <td class="hidden-xs">145,408.00</td>
                            </tr>
                            <tr>
                                <td>其他非流动资产（万元）</td>
                                <td>0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td class="hidden-xs">0.00</td>
                                <td></td>
                                <td></td>
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                            </tr>
                            <tr>
                                <td>非流动资产合计（万元）</td>
                                <td>55,548.00</td>
                                <td class="hidden-xs">39,241.00</td>
                                <td class="hidden-xs">37,082.00</td>
                                <td></td>
                                <td></td>
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                            </tr>
                            <tr>
                                <td>资产总计（万元）</td>
                                <td>235,193.00</td>
                                <td class="hidden-xs">167,279.00</td>
                                <td class="hidden-xs">145,408.00</td>
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                                <td class="hidden-xs"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nz-collapse-panel>
        </nz-collapse>


        <nz-collapse>
            <nz-collapse-panel nzHeader="资产负债表合计（显示2017-12-31的数据，后面的变化趋势是最近一期相对于上一期)）" nzActive=true nzShowArrow=false>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <tbody>
                            <tr>
                                <td>总资产（万元）</td>
                                <td>235,193.00 ↑ 40.60%</td>
                                <td>总负债（万元</td>
                                <td>122,923.00 ↑ 23.57%</td>
                                <td>净资产（万元）</td>
                                <td>112,270.00 ↑ 65.58%</td>
                            </tr>
                            <tr>
                                <td>银行负债（万元）</td>
                                <td>0.00 → 0.00%</td>
                                <td>资产负债率(%)</td>
                                <td>52.26% ↓ 12.11%</td>
                                <td>银行负债率(%)</td>
                                <td>0.00% → 0.00%</td>
                            </tr>
                            <tr>
                                <td>主营收入增长（万元）</td>
                                <td>199,922.00 ↑ 26.12%</td>
                                <td>净利润增长（万元）</td>
                                <td>2,845.00 ↑ 20.69%</td>
                                <td>净利润率(%)</td>
                                <td>1.72% ↓ 4.30%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

    </nz-collapse-panel>
</nz-collapse>