<nz-collapse>
    <nz-collapse-panel nzHeader="项目审批流程" nzActive=true nzShowArrow=false>

        <nz-collapse>
            <nz-collapse-panel nzHeader="项目A角意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>1、该项目甲方为中国船舶重工集团国际工程有限公司，注册资本150000万元人民币，成立于1994-7-21日，由国务院国有资产监督管理委员会控股。</dd>
                    <dd>2、该项目乙方为大连金湾建设集团有限公司，注册资本13300万人民币,成立年限较长，具备市政公用工程施工总承包壹级、钢结构工程专业承包一级 、建筑工程施工总承包一级等资质，施工经验较丰富，履约能力较强。</dd>
                    <dd>3、该项目合同价为54,812,772.67元，根据合同要求，履约保函金额为2,740,639元（合同价的5%）。</dd>
                    <dd>4、该项目工期为200天，履约保函期限为6个月。</dd>
                    <dd>5、甲方有格式要求（详见OA附件）。</dd>
                    <dd>6、市政项目，担保期限较短，对应项目壹级资质，项目经理签署反担保，并提供个人名下一套房产作为财产证明（足额覆盖）。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>戴玥</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 13:23:35</span>
                        </p>
                    </div>
                </div>

                <div class="panel">
                    <p>补充意见历史：</p>
                    <div class="panel">
                        <p>第1次补充意见：</p>
                        <p><span>补充人：</span><span>戴玥</span></p>
                        <p><span>补充意见：</span><span>上传工程量造价清单</span></p>
                        <p><span>补充时间：</span><span>2018-05-08 14:40:30</span></p>
                        <p><a href="javascript:;">工程量清单-大连庄河风电叶片产业基地建设项目--金湾.rar</a></p>
                    </div>
                </div>

                <nz-collapse>
                    <nz-collapse-panel nzHeader="风险概述" nzActive=true nzShowArrow=false>
                        <nz-collapse>
                            <nz-collapse-panel nzHeader="4个地址不全在同一个省" nzActive=true nzShowArrow=false>
                                <p>企业注册地:辽宁省</p>
                                <p>业主注册地:暂无</p>
                                <p>项目所在地:辽宁省</p>
                                <p>反担保人住址:辽宁省</p>
                            </nz-collapse-panel>
                        </nz-collapse>
                        <nz-collapse>
                            <nz-collapse-panel nzHeader="企业的被执行人情况(2)" nzActive=true nzShowArrow=false>
                                <p>2017年：2次被执行</p>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </nz-collapse-panel>
                </nz-collapse>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="项目B角意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>本地企业做本地国有项目，个反足额，企业具备房建、市政、机电安装，钢结构四个一级资质，对公付款，通过。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>李振</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 13:27:36</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="保函格式复核意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>无条件连带责任格式，立即赔付。保函未明确索赔文件须在有效期内送达。</dd>
                    <dd>银行不可立即赔付，应删除【立即】二字，请修改。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>罗欢</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>


        <h2>同步审批流程：</h2>
        <nz-collapse>
            <nz-collapse-panel nzHeader="风险初审意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>1、国有项目，公开招标；</dd>
                    <dd>3、对应资质建筑工程施工总承包一级；</dd>
                    <dd>4、无条件连带责任格式；</dd>
                    <dd>5、梁瑞夫提供个反和房产证明；</dd>
                    <dd>6、需补工商登记查询单（未盖章）。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>张娇燕</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 16:46:31</span>
                        </p>
                    </div>
                </div>

                <div class="panel">
                    <p>补充意见历史：</p>
                    <div class="panel">
                        <p>第1次补充意见：</p>
                        <p><span>补充人：</span><span>张娇燕</span></p>
                        <p><span>补充意见：</span><span>开工令已补，计划开竣工日期：2018.03.01-2019.03.31.</span></p>
                        <p><span>补充时间：</span><span>2018-05-08 16:22:10</span></p>
                    </div>
                    <div class="panel">
                        <p>第2次补充意见：</p>
                        <p><span>补充人：</span><span>张娇燕</span></p>
                        <p><span>补充意见：</span><span>企业征信报告：<br>1、已结清业务<br>贷款2笔列入关注，<br>1）借据金额120万元，放款日期2002.10.18，到期日2003.10.17，结清日期2003.05.08，正常收回；<br>2）借据金额100万元，放款日期2002.06.28，到期日2003.06.27，结清日期2003.05.08，正常收回；<br>其他无不良信息。需风控特批。</span></p>
                        <p><span>补充时间：</span><span>2018-05-10 10:40:18</span></p>
                    </div>
                </div>
                <p>此项目已于2018-05-14 16:55被张娇燕送到银行</p>

            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="造价师意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>清单中部分钢筋、墙面涂料、模板、电缆桥架等子目单价低于目前市场价。总体看清单价格低，基本可行。项目延期一年开工，如合同有有人工、主材可以调差的条款，则可以降低本项目的造价风险。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>姚敏</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="风险复核意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>国有项目，建筑工程施工总承包一级，无条件连带责任格式。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>李振强</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="财务审核意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>大连金湾建设集团有限公司 于2018-05-11打款60295元（保证金：0元。担保费及其他费用为60295）。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>骆仕群</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="业务负责人意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>信贷良好，造价通过，收费提高到1.4%，担保期和工期一致。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>郑菁</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="风险经理意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>无条件格式，已对公打款，已送银行。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>马乐</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="总经理意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>信贷良好，造价通过，收费提高到1.4%，担保期和工期一致。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>郑菁</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="综合副总意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>同意。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>冼峰</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse>
            <nz-collapse-panel nzHeader="经营班子核查意见" nzActive=true nzShowArrow=false>
                <dl>
                    <dt>审核结论：</dt>
                    <dd>同意。</dd>
                </dl>
                <div class="clearfix">
                    <div class="pull-right mb20">
                        <p class="text-left">
                            <span>审核人：</span>
                            <span>李树华</span>
                        </p>
                        <p class="text-left">
                            <span>审核时间：</span>
                            <span>2018-05-07 14:11:18</span>
                        </p>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

    </nz-collapse-panel>
</nz-collapse>